<div class="card">
    <img src="{{ product.imageTitle != null ? product.imageUrl : '/assets/images/default.jpg' }}" 
        class="card-img-top" 
        alt="helloworld"
        style="width: 100%; height: 250px; object-fit: cover;" />
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ product.productType }} | <small>${{ product.regularPrice }}</small> | <small>Stock: {{ product.inventoryStock }}</small></h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <div class="row">

            <div *ngIf="product.inventoryStock > 0" class="col-6 text-center">
                <button type="button" class="btn btn-primary" (click)="onClick(product.id)">
                    Add to Cart
                </button>
            </div>

            <div *ngIf="product.inventoryStock <= 0" class="col-6 text-center">
                <button type="button" class="btn btn-danger" disabled>
                    Out of Stock
                </button>
            </div>

            <div class="col-6 text-center">
                <a class="btn btn-secondary" [routerLink]="['/product', product.id]">Product Info</a>
            </div>
        </div>
        
        
    </div>
</div>

