<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/privacy">Privacy</a>
          </li>

          <!-- Show is user is Admin -->
          <li *ngIf="userIsAdmin" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/admin/category-type">Category Type</a></li>
              <li><a class="dropdown-item" routerLink="/admin/product-type">Product Type</a></li>
              <li><a class="dropdown-item" routerLink="/admin/product">Product</a></li>
              <li><a class="dropdown-item" routerLink="/admin/product-specification">Product Specification</a></li>
              <li><a class="dropdown-item" routerLink="/admin/product-specification-value">Product Specification Value</a></li>
              <li><a class="dropdown-item" routerLink="/admin/product-image">Product Image</a></li>
              <li><a class="dropdown-item" routerLink="/admin/product-inventory-unit">Product Inventory Unit</a></li>
            </ul>
          </li>

          <!-- Show if user NOT authenticated -->
          <li *ngIf="!userIsLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li *ngIf="!userIsLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>

          <!-- Show if user authenicated -->
          <li *ngIf="userIsLoggedIn" class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" style="color: yellow" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ navbarCart.length }} <fa-icon [icon]="faShoppingCart"></fa-icon>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              <li *ngIf="navbarCart.length == 0" class="dropdown-item text-center">
                <small>No Items in Cart</small>
              </li>
              
              <li *ngFor="let item of navbarCart" class="dropdown-item">
                <small><strong>{{ item.productName }}</strong> x {{ item.quantity }} | <strong>${{ item.totalPrice }}</strong></small>
              </li>
              <hr />
              <li class="dropdown-item">
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary w-100"><fa-icon [icon]="faShoppingCart"></fa-icon> Cart</button>
                  </div>
                </div>
              </li>

            </ul>

          </li>

          <li class="nav-item">
            <a class="nav-link disabled">{{ userIsLoggedIn }} {{ userIsAdmin }}</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
